<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.shiroadmin.dao.RoleUserMapper">
  <resultMap id="BaseResultMap" type="com.qf.shiroadmin.entity.RoleUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, rid
  </sql>

  <select id="selectByUid" parameterType="java.lang.Integer" resultType="com.qf.shiroadmin.entity.Role">
        select r.* from syss_user_role ur LEFT join sys_role r on ur.rid=r.id where ur.uid=#{uid}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from sys_role_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByUid" parameterType="java.lang.Integer">
    delete from sys_role_user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.qf.shiroadmin.entity.RoleUser">
    insert into sys_role_user (uid, rid)
    values ( #{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER})
  </insert>

  <insert id="insertBatch">
    insert into sys_role_user (uid, rid)
    values
    <foreach collection="rids" separator="," item="rid">
      ( #{uid}, #{rid})
    </foreach>

  </insert>
</mapper>