<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.shiroadmin.dao.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.qf.shiroadmin.entity.RolePermission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rid, pid
  </sql>
  <select id="selectByRid" parameterType="java.lang.Integer" resultType="com.qf.shiroadmin.entity.Permission">
        select p.* from sys_role_permission rp LEFT join sys_permission p on rp.pid=p.id where rp.rid=#{rid}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from sys_role_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByRid" parameterType="java.lang.Integer">
    delete from sys_role_permission
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.shiroadmin.entity.RolePermission">
    insert into sys_role_permission (rid, pid)
    values (#{rid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER})
  </insert>
</mapper>